.paragraphGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.titleBar{
    color: #0E1319;
    font-size: 2.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.secondTitle{
    color: #0E1319;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutMe{
    color: #2C3541;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 5%;
}