@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  .header {
    padding: 1em;
    height: 10%;
    /* border-bottom: 1px solid #C0C0C0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue';
    background-image: linear-gradient(180deg, rgba(14,19,25,1) 0%, rgba(44,53,65,1) 100%);
  }

  .profileIcons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg {
    margin-left: 20px;
    fill: #D9D9DA;
    height: 1.2em;
  }

  .svg:hover{
    fill: #FFFFFF;
  }

  .searchBar{
    color: #C0C0C0;
    font-family: monospace;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }

  .navSearch{
    color: #C0C0C0;
    font-family: monospace;
    font-size: 1em;
    width: 160px;
    background: transparent;
    border: none;
    animation: blinker 1.3s linear infinite;
    outline-width: 0;
  }

  .navSearchSubmit{
    display:none;
  }

  .navSearch:focus{
    animation-play-state: paused;
    caret-color: #E45407;
  }

  .navSearch:focus::placeholder {
    color: transparent;
  }

  .navSearch:focus::-ms-input-placeholder{
    color: transparent;
  }

  .navSearch::placeholder{
    color: #E45407;
    font-weight: bolder;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .navSearch::-ms-input-placeholder{
    color: #E45407;
    font-weight: bolder;
  }

  .linkGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 1.5em;
  }

  .link{
    margin: 0 15px;
    color: #D9D9DA;
  }

  .link:hover{
    margin: 0 15px;
    color: #FFFFFF;
    font: bolder;
  }

  .activeLink{
    margin: 0 15px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font: bolder;
  }

  .pageBody{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir Next Cyr', sans-serif;
    background-image: linear-gradient(180deg, #DADAD9 100%, #FFFFFF 0%);
  }

  .main {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(90deg, rgba(14,19,25,1) 0%, rgba(44,53,65,1) 100%); */
    overflow: hidden;
  }